/.idea
/.phpstan
/.phpunit.cache
/vendor
/composer.lock
deleteme*
/.idea
/.makerc
/.vscode
/composer-setup.php
/side-suite-*
/site
/vendor
*Zone.Identifier
.DS_Store
Thumbs.db
deleteme*

/.php-cs-fixer.php
/.php-cs-fixer.cache
/.idea
/.makerc
/.vscode
/composer-setup.php
/side-suite-*
/site
/vendor
*Zone.Identifier
.DS_Store
Thumbs.db
deleteme*

/.php-cs-fixer.php
/.php-cs-fixer.cache
