/.idea
/.phpstan
/.phpunit.cache
/.phpunit.result.cache
/vendor
/.php-cs-fixer.cache
/.php-cs-fixer.php
/cobertura.xml
/composer.lock
/phpunit.result.cache
/resources/report
*Zone.Identifier
.DS_Store
Thumbs.db
deleteme*
